@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-ramona), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-ramona), ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}
