@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-ramona), ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --color-primary: #3f3d56;
  --color-mypink: #ff99c8;
  --color-myyellow: #fcf6bd;
  --color-mygreen: #d0f4de;
  --color-mypurple: #e4c1f9;
  --color-myblue: #a9def9;
}

body {
  font-family: var(--font-ramona), ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}
